/* ---------- */
/* General */
/* ---------- */


body
{
	background: white;
	font-family: Calibri, Segoe UI, Tahoma;
	font-size:12px;
	margin:0;
	padding:0;
}

.ellipsis {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

input:focus, button:focus {
	outline: none;
}

/* border radius */
button, input, .sp-replacer, #people, #canvasframe, #chatcontent {
	border-radius: 3px;
}

button, input {
  font-size: 11px;
}

input[type=text] {
	height:20px;
	border: 0;
	padding: 0;
	padding-left: 3px;
}

button, input[type=button] {
  color: black;
  border: 0 none;
  height: 20px;
  padding: 0px 12px;
  margin: 0;
  background:white;
  
  cursor: pointer;
  display: inline-block;
  
  text-transform: none;
  
  transition: all 80ms ease-in-out;
}

button:hover, input[type=button]:hover {
	opacity: 0.8;
}

input:disabled, button:disabled {
	pointer-events:none;
	cursor:normal;
}

#main {
	background: #71b07f;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 5px 5px 5px #ccc;
	text-align: left;
}

/* centre horizontally */
#centeringContainer {
	width:100%;
    text-align:center;
}
#main {
	display: inline-block;
	vertical-align: middle;
}

/* centre vertically */
html, body, #centeringContainer {
	height: 100%;
}
#main {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#status
{
	padding:5px;
	margin-bottom:15px;
	color:#fff;
	font-size:15px;
	text-align:center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#panels {
	display: table-row;
}

#game {
	display:table;
}

#lineWidth {
	height: 12px;
}

/* ---------------------- */
/* first panel section */
/* ---------------------- */

#firstpanel
{
	display: table-cell;
	width:210px;
	vertical-align:top;
}

#people
{
	background:#fff;
	border:1px solid #ccc;
	width:200px;
	max-height:340px;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#people p
{
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
}

#timer {
	font-weight: bold;
	font-size: 40pt;
	color: white;
	text-align: center;
}

table.users td.score {
	text-align:right;
	padding-right:5px;
}

table.users td.username > div {
	max-width: 100px;
}

table.users td.scoreRound {
	padding-left: 8px;
}

/* -------------------------- */
/* second panel section */
/* -------------------------- */

#secondpanel
{
	padding-left:15px;
	display: table-cell;
	vertical-align:top;
}

#canvasframe {
	width:500px;
	height:500px;
	border:4px solid #ccc;
}

#game #canvas {
	cursor:normal;
	background:white;
}

#game.drawing #canvas
{
	cursor:crosshair;
}

#game.drawing #canvasframe {
	border-color: #2970ae;
}

#game.guessedIt #canvasframe {
	border-color: #ffff70;
}

#clearcanvas {
}

#game #drawingControls {
	visibility:hidden;
}

#game.drawing #drawingControls {
	visibility:visible;
}

#hint {
	margin-bottom: 10px;
	font-family: Courier New, fixed-width;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	width: 100%;
	color: white;
}

/* colour picker overrides */

.sp-replacer {
	border: none;
	height: 14px;
	padding: 3px;
}

.sp-preview {
	height: 14px;
	margin-right: 2px;
	border: none;
}

/* ---------------------- */
/* third panel section */
/* ---------------------- */

#thirdpanel
{
	padding-left: 15px;
	display: table-cell;
	width: 320px;
	vertical-align: top;
}

#chatcontent
{
	background:#fff;
	border:1px solid #ccc;
	height:496px;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#chatcontent p
{
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
}

#chatnick
{
	border:1px solid #ccc;
	margin-top:24px;
	padding:5px;
	width:150px;
}

#chatinput {
	width: 100%;
	margin-left:0px;
}

#clearchat {
	margin-left:10px;
}

#readytodraw {
	width:100%;
	margin-top:0px;
	margin-bottom:10px;
}

#changenickcolor,
#readytodraw
{
	margin-top:10px;
}

