/* ---------- */
/* General */
/* ---------- */

body
{
	background:#A96A6A;
	font-family:Calibri,Tahoma;
	font-size:12px;
}

input, button {
	border-radius:5px;
}

#main
{
	width:1100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#status
{
	padding:5px;
	margin-bottom:15px;
	color:#fff;
	font-size:15px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* ---------------------- */
/* first panel section */
/* ---------------------- */

#firstpanel
{
	float:left;
	width:190px;
}

#people
{
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	width:180px;
	height:200px;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#people p
{
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
}

#clearcanvas
{
	padding:5px;
}

/* -------------------------- */
/* second panel section */
/* -------------------------- */

#secondpanel
{
	margin-left:30px;
	float:left;
}

#canvasframe {
	width:500px;
	height:500px;
	border-radius:5px;
	border:4px solid #ccc;
}

#game #canvas {
	cursor:normal;
	background:white;
}

#game.drawing #canvas
{
	cursor:crosshair;
}

#game.drawing #canvasframe {
	border-color: #2875AB;
}

#game.guessedIt #canvasframe {
	border-color: yellow;
}

/* ---------------------- */
/* third panel section */
/* ---------------------- */

#thirdpanel
{
	margin-left:30px;
	float:left;
	width:320px;
}

#chatcontent
{
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	width:300px;
	height:400px;
	overflow: auto;
	overflow-x: hidden;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}

#chatcontent p
{
	padding:0px;
	margin-top:0px;
	margin-bottom:5px;
}

#chatnick
{
	border:1px solid #ccc;
	margin-top:24px;
	padding:5px;
	width:150px;
}

#chatinput
{
	border:1px solid #ccc;
	margin-top:10px;
	margin-left:0px;
	padding:5px;
	width:200px;
	float:left;
}

#clearchat {
	width:90px;
	margin-left:10px;
	height:27px;
	margin-top:-4px;
}

#readytodraw {
	width:100%;
	margin-top:0px;
	margin-bottom:10px;
}

#changenickcolor,
#readytodraw
{
	margin-top:10px;
	padding:5px;
}

#timer {
	font-weight: bold;
	font-size: 40pt;
	color: white;
	text-align: center;
}

#hint {
	margin-bottom: 10px;
	font-family: Courier New, fixed-width;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	width: 100%;
	color: white;
}

.ellipsis {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

table.users td.score {
	text-align:right;
	padding-right:5px;
}

table.users td.username > div {
	max-width: 100px;
}

table.users td.scoreRound {
	padding-left: 8px;
}

#game #drawingControls {
	display:none;
}

#game.drawing #drawingControls {
	display:block;
}

